# Información útil de los informes ReeR

In [3]:
"""1º Importo las librerías que creo que puedo necesitar en esta tarea."""

# Manejo de datos
import pandas as pd  # Análisis y manipulación de datos en tablas
import numpy as np  # Cálculos numéricos y matrices
import os

# Visualización de datos
import matplotlib.pyplot as plt  # Gráficos básicos en 2D
import seaborn as sns  # Gráficos estadísticos mejorados
import plotly.express as px  # Gráficos interactivos simplificados
import plotly.graph_objects as go  # Control avanzado de gráficos en Plotly
import plotly.io as pio  # Interfaz de entrada/salida de Plotly
import squarify  # Visualización de diagramas de "treemap"

# Web Scraping y APIs
import requests  # Peticiones HTTP para obtener datos de APIs como PubChem

# Quimioinformática y Bioinformática
from rdkit import Chem  # Manejo de estructuras químicas
from rdkit.Chem import DataStructs, AllChem  # Análisis molecular
import pubchempy as pcp  # Interacción con la base de datos de PubChem

### **Informe 2021**

##### Tabla 1. Número de casos notificados al Registro Estatal de Enfermedades Raras según C.A. declarante y año de captación.
página 9, tabla 1

In [6]:
casos_notificados_10_18 = pd.read_csv(r'C:\Users\maria\ITAcademy\Sprint 10 - Pràctica final\Data\tablas_extraidas_informes_ReeR\tablas_Informe_reer_reducido_2021\tabla_p9_t1.csv')
casos_notificados_10_18.fillna(value= 0, inplace=True)
casos_notificados_10_18

,Registros,Antes de\n2010,2010,2011,2012,2013,2014,2015,2016,2017,2018,Total
0,Andalucía,3.262,469.00,467.000,447.000,437.000,451.000,404.000,360.000,331.000,289.000,6.917
1,Aragón,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,31.000,428.000,459.000
2,Canarias,7.000,130.00,85.000,82.000,100.000,93.000,87.000,82.000,54.000,94.000,814.000
3,Castilla y León,470.000,333.00,227.000,264.000,205.000,221.000,217.000,206.000,218.000,168.000,2.529
4,Cataluña,1.075,391.00,271.000,244.000,223.000,226.000,189.000,213.000,277.000,280.000,3.389
5,Comunidad\nValenciana,720.000,311.00,364.000,320.000,407.000,423.000,300.000,418.000,330.000,296.000,3.889
6,Galicia,222.000,45.00,27.000,28.000,43.000,27.000,11.000,12.000,13.000,871.000,1.299
7,"Madrid, Comunidad\nde",3.090,503.00,507.000,449.000,467.000,458.000,463.000,547.000,548.000,651.000,7.683
8,"Murcia, Región de",631.000,108.00,130.000,99.000,134.000,79.000,81.000,70.000,73.000,78.000,1.483
9,"Navarra, Comunidad\nForal de",531.000,34.00,37.000,41.000,56.000,44.000,75.000,42.000,41.000,32.000,933.000
10,País Vasco,0.000,0.00,0.000,0.000,0.000,0.000,32.000,81.000,322.000,248.000,683.000
11,"Rioja, La",0.000,116.00,2.000,3.000,26.000,31.000,26.000,35.000,31.000,30.000,300.000
12,Total,10.008,2.44,2.117,1.977,2.098,2.053,1.885,2.066,2.269,3.465,30.378

In [ ]:
"""El sistema detecta el punto de los miles como una coma - CORREGIR"""
columnas_numericas = casos_notificados_10_18.columns[1:]

for col in columnas_numericas:
    casos_notificados_10_18[col] = casos_notificados_10_18[col].astype(str).str.replace('.', '')    # elimino puntos
    casos_notificados_10_18[col] = casos_notificados_10_18[col].astype(float).astype(int)           # convierto a enteros

casos_notificados_10_18

,Registros,Antes de\n2010,2010,2011,2012,2013,2014,2015,2016,2017,2018,Total
0,Andalucía,3262,4690,4670,4470,4370,4510,4040,3600,3310,2890,6917
1,Aragón,0,0,0,0,0,0,0,0,310,4280,4590
2,Canarias,70,1300,850,820,1000,930,870,820,540,940,8140
3,Castilla y León,4700,3330,2270,2640,2050,2210,2170,2060,2180,1680,2529
4,Cataluña,1075,3910,2710,2440,2230,2260,1890,2130,2770,2800,3389
5,Comunidad\nValenciana,7200,3110,3640,3200,4070,4230,3000,4180,3300,2960,3889
6,Galicia,2220,450,270,280,430,270,110,120,130,8710,1299
7,"Madrid, Comunidad\nde",309,5030,5070,4490,4670,4580,4630,5470,5480,6510,7683
8,"Murcia, Región de",6310,1080,1300,990,1340,790,810,700,730,780,1483
9,"Navarra, Comunidad\nForal de",5310,340,370,410,560,440,750,420,410,320,9330
10,País Vasco,0,0,0,0,0,0,320,810,3220,2480,6830
11,"Rioja, La",0,1160,20,30,260,310,260,350,310,300,3000
12,Total,10008,244,2117,1977,2098,2053,1885,2066,2269,3465,30378

In [9]:
import sys
sys.version

'3.13.2 (tags/v3.13.2:4f8bb39, Feb  4 2025, 15:23:48) [MSC v.1942 64 bit (AMD64)]'