Idea principal

### Estudiar la incidencia de trastornos mentales en Europa (o todo el mundo de forma general y especificar Europa o España)
- Ansiedad, depresión, bipolaridad, esquizofrenia, trastonos alimenticios, alcoholismo, abuso de otras drogas
- Evolución en el tiempo --> desde 1950 hasta 2021
- Estduar diferencias por edad, género, nivel socioeconómico, región geográfica
- Factores socioeconómicos principales: desempleo, nivel económico, acceso a atención médica
- Factores ambientales: contaminación, densidad de población
- Uso de fármacos antidepresivos, ansiolíticos, psicotrópicos, etc
- Afectación tras pandemia --> 2020 y 2021 efecto pandemia. Podría encontrar datos más actuales??
- Afectación crisis económica actual, guerras, etc

### Contexto
Avances tecnológicos, cuidado de la salud, alargamiento de la esperanza de vida... Aumento del ritmo de vida y su impacto en la salud mental.

### Hipótesis o preguntas
¿Cómo está nuestra salud mental?
¿La estamos cuidando?
¿Qué factores la hacen más vulnerable?

conector de power point para importar archivos html webviewer

In [2]:
"""1º Importo las librerías que creo que puedo necesitar en esta tarea."""

import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import squarify
import plotly.io as pio

In [3]:
doc1 = pd.read_csv(r"C:/Users/maria/ITAcademy/Sprint 10 - Pràctica final/IHME Global Burden of Disease - Mental Health/Opción 1/IHME-GBD_2021_DATA-71016e7b-1.csv")
doc2 = pd.read_csv(r"C:/Users/maria/ITAcademy/Sprint 10 - Pràctica final/IHME Global Burden of Disease - Mental Health/Opción 1/IHME-GBD_2021_DATA-71016e7b-2.csv")
option1 = pd.concat([doc1, doc2])
print(option1.info())
option1 = option1.drop(columns=['measure_id', 'measure_name', 'location_id', 'sex_id', 'age_id', 'metric_id', 'metric_name', 'upper', 'lower'])

option1 = option1[option1["sex_name"] != "Ambos"]

option1

<class 'pandas.core.frame.DataFrame'>
Index: 793152 entries, 0 to 293151
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   measure_id     793152 non-null  int64
 1   measure_name   793152 non-null  object
 2   location_id    793152 non-null  int64
 3   location_name  793152 non-null  object
 4   sex_id         793152 non-null  int64
 5   sex_name       793152 non-null  object
 6   age_id         793152 non-null  int64
 7   age_name       793152 non-null  object
 8   metric_id      793152 non-null  int64
 9   metric_name    793152 non-null  object
 10  year           793152 non-null  int64
 11  val            793152 non-null  float64
 12  upper          793152 non-null  float64
 13  lower          793152 non-null  float64
dtypes: float64(3), int64(6), object(5)
memory usage: 90.8+ MB
None

        location_name sex_name age_name  year          val
0       Nueva Zelanda   Hombre    80-84  1950  6592.195562
1       Nueva Zelanda    Mujer    80-84  1950  7840.687905
3       Nueva Zelanda   Hombre    80-84  1951  7024.191889
4       Nueva Zelanda    Mujer    80-84  1951  8355.892314
6       Nueva Zelanda   Hombre    80-84  1952  7310.698305
...               ...      ...      ...   ...          ...
293144           Mali    Mujer    90-94  2019  2363.022460
293146           Mali   Hombre    90-94  2020  2648.954300
293147           Mali    Mujer    90-94  2020  2263.923191
293149           Mali   Hombre    90-94  2021  2147.406375
293150           Mali    Mujer    90-94  2021  1863.550263

[528768 rows x 5 columns]

In [4]:
option1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 528768 entries, 0 to 293150
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   location_name  528768 non-null  object
 1   sex_name       528768 non-null  object
 2   age_name       528768 non-null  object
 3   year           528768 non-null  int64
 4   val            528768 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 24.2+ MB

In [5]:
table = pd.pivot_table(data=option1, index=["location_name", "year", "age_name"], columns="sex_name", values="val")
table.reset_index(inplace=True)
table

sex_name location_name  year    age_name         Hombre          Mujer
0           Afganistán  1950  10-14 años  431925.684893  393476.725531
1           Afganistán  1950  15-19 años  391221.931939  351592.338607
2           Afganistán  1950  20-24 años  357010.934313  304168.796081
3           Afganistán  1950  25-29 años  312355.344479  263150.196554
4           Afganistán  1950  30-34 años  269835.485933  223567.521239
...                ...   ...         ...            ...            ...
264379        Zimbabue  2021  75-79 años   29976.680537   46409.780553
264380        Zimbabue  2021       80-84   13054.681946   20009.020006
264381        Zimbabue  2021       85-90    4407.492137    6762.893577
264382        Zimbabue  2021       90-94     970.278763    1669.721519
264383        Zimbabue  2021    95+ años     152.558049     356.708417

[264384 rows x 5 columns]

In [6]:
table_spain = table.iloc(["location_name"] == "España")
table_spain
#table.groupby("age_name")[["Hombre", "Mujer"]].sum()

In [7]:
option1["year"].unique()

array([1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021])

In [8]:
option1["location_name"].unique()

array(['Nueva Zelanda', 'Irán', 'Jordania', 'Níger', 'China', 'Taiwán',
       'Andorra', 'Bélgica', 'Sudán', 'Líbano', 'Santo Tomé y Príncipe',
       'Sierra Leona', 'Mauritania', 'Nigeria', 'Corea del Norte',
       'Australia', 'Dinamarca', 'Francia', 'Marruecos', 'Iraq', 'Kuwait',
       'Camboya', 'Laos', 'Austria', 'Chipre', 'Senegal', 'Togo',
       'Indonesia', 'Malasia', 'Finlandia', 'Alemania', 'Libia',
       'Palestina', 'Egipto', 'Omán', 'Arabia Saudita', 'Grecia',
       'Irlanda', 'Catar', 'Siria', 'Islandia', 'Israel', 'Birmania',
       'Sri Lanka', 'Maldivas', 'Samoa Americana', 'Bermudas', 'Turquía',
       'Yemen', 'Groenlandia', 'Guam', 'Luxemburgo', 'Holanda',
       'Timor Oriental', 'Mónaco', 'Nauru', 'Niue', 'Bangladés',
       'Filipinas', 'Portugal', 'Suecia', 'Kiribati',
       'Estados Federados de Micronesia', 'India', 'Pakistán', 'Túnez',
       'Emiratos Árabes Unidos', 'Islas Cook', 'Italia', 'Tailandia',
       'Vietnam', 'Malta', 'Palaos', 'Fiyi', 'Afganistán', 'Noruega',
       'España', 'Reino Unido', 'Argentina', 'Islas Marshall ',
       'Islas Marianas del Norte', 'Puerto Rico',
       'San Cristóbal y Nieves', 'República Centroafricana',
       'Papúa Nueva Guinea', 'Samoa', 'Tonga', 'Tokelau', 'Tuvalu',
       'Islas Vírgenes, EUA', 'Bután', 'Nepal', 'San Marino', 'Armenia',
       'Islas Salomón ', 'Vanuatu', 'Uruguay', 'Canadá',
       'República Democrática del Congo', 'Suiza', 'Gabón', 'Azerbaiyán',
       'Angola', 'Chile', 'Sudán del Sur', 'Estados Unidos de América',
       'Georgia', 'Kirguistán', 'Kazajistán', 'Mongolia', 'Congo',
       'Antigua y Barbuda', 'Burundi', 'Yibuti', 'Las Bahamas', 'Belice',
       'Guinea Ecuatorial', 'Turkmenistán', 'Tayikistán', 'Uzbekistán',
       'Barbados', 'Cuba', 'Etiopía', 'Madagascar', 'Comoras', 'Dominica',
       'Granada', 'Eritrea', 'Kenia', 'Haití', 'Santa Lucía',
       'Bosnia y Herzegovina', 'Malaui', 'Albania', 'Mauricio',
       'República Dominicana', 'Guyana', 'Bulgaria', 'Ruanda',
       'Mozambique', 'Surinam', 'Jamaica', 'San Vicente y las Granadinas',
       'República Checa', 'Macedonia', 'Somalia', 'Uganda', 'Seychelles',
       'Tanzania', 'Ecuador', 'Croacia', 'Hungría', 'Trinidad y Tobago',
       'Bolivia', 'Zambia', 'Botsuana', 'Costa Rica', 'Guatemala',
       'Montenegro', 'Rumania', 'Polonia', 'Serbia', 'Lesoto',
       'Eslovaquia', 'Perú', 'Colombia', 'Namibia', 'Estonia',
       'Sudáfrica', 'Eslovenia', 'El Salvador', 'Honduras', 'Zimbabue',
       'Bielorrusia', 'México', 'Panamá', 'Lituania', 'Rusia', 'Letonia',
       'Moldavia', 'Benín', 'Camerún', 'Suazilandia', 'Nicaragua',
       'Venezuela', 'Brunéi', 'Ucrania', 'Burkina Faso', 'Paraguay',
       'Bahréin', 'Cabo Verde', 'Costa de Marfil', 'Corea del Sur',
       'Ghana', 'Chad', 'Gambia', 'Guinea-Bisáu', 'Brasil', 'Japón',
       'Singapur', 'Mali', 'Argelia', 'Guinea', 'Liberia'], dtype=object)

In [9]:
doc1 = pd.read_csv(r"C:/Users/maria/ITAcademy/Sprint 10 - Pràctica final/IHME Global Burden of Disease - Mental Health/Opción 2/IHME-GBD_2021_DATA-594bea04-1.csv")
doc2 = pd.read_csv(r"C:/Users/maria/ITAcademy/Sprint 10 - Pràctica final/IHME Global Burden of Disease - Mental Health/Opción 2/IHME-GBD_2021_DATA-594bea04-2.csv")
doc3 = pd.read_csv(r"C:/Users/maria/ITAcademy/Sprint 10 - Pràctica final/IHME Global Burden of Disease - Mental Health/Opción 2/IHME-GBD_2021_DATA-594bea04-3.csv")
option2 = pd.concat([doc1, doc2, doc3])
print(option2.info())

option2
# C:\Users\maria\ITAcademy\Sprint 10 - Pràctica final\IHME Global Burden of Disease - Mental Health\Opción 2\IHME-GBD_2021_DATA-594bea04-1.csv

<class 'pandas.core.frame.DataFrame'>
Index: 1088640 entries, 0 to 88639
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   measure_id     1088640 non-null  int64
 1   measure_name   1088640 non-null  object
 2   location_id    1088640 non-null  int64
 3   location_name  1088640 non-null  object
 4   sex_id         1088640 non-null  int64
 5   sex_name       1088640 non-null  object
 6   age_id         1088640 non-null  int64
 7   age_name       1088640 non-null  object
 8   metric_id      1088640 non-null  int64
 9   metric_name    1088640 non-null  object
 10  year           1088640 non-null  int64
 11  val            1088640 non-null  float64
 12  upper          1088640 non-null  float64
 13  lower          1088640 non-null  float64
dtypes: float64(3), int64(6), object(5)
memory usage: 124.6+ MB
None

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,metric_id,metric_name,year,val,upper,lower
0,44,Población,212,Mauritania,1,Hombre,235,95+ años,1,Número,1950,1.180000,1.459719,0.902919
1,44,Población,212,Mauritania,2,Mujer,235,95+ años,1,Número,1950,0.660000,0.816453,0.505022
2,44,Población,212,Mauritania,3,Ambos,235,95+ años,1,Número,1950,1.840000,2.276173,1.407941
3,44,Población,212,Mauritania,1,Hombre,235,95+ años,1,Número,1951,1.249288,1.539623,0.937685
4,44,Población,212,Mauritania,2,Mujer,235,95+ años,1,Número,1951,0.748494,0.922444,0.561801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88635,44,Población,211,Mali,2,Mujer,32,90-94,1,Número,2020,2263.923191,2580.786336,1940.793532
88636,44,Población,211,Mali,3,Ambos,32,90-94,1,Número,2020,4912.877492,5600.493494,4211.662700
88637,44,Población,211,Mali,1,Hombre,32,90-94,1,Número,2021,2147.406375,2447.633120,1836.366341
88638,44,Población,211,Mali,2,Mujer,32,90-94,1,Número,2021,1863.550263,2124.091369,1593.625230
88639,44,Población,211,Mali,3,Ambos,32,90-94,1,Número,2021,4010.956639,4571.724489,3429.991571

Archivo excel Mental Health_fl_530_volume_A
"C:\Users\maria\ITAcademy\Sprint 10 - Pràctica final\European Mental Health\Mental Health_fl_530_volume_A.xlsx"

In [14]:
excelA = pd.read_excel("C:/Users/maria/ITAcademy/Sprint 10 - Pràctica final/European Mental Health/Mental Health_fl_530_volume_A.xlsx")
excelA.dropna()

   Unnamed: 0                                         Unnamed: 1
7          Q1  Q1 Which of the following statements best desc...
8          Q2  Q2 To what extent have the recent world events...
9          Q3  Q3 In your opinion, which of the following act...
10         Q4  Q4 In your opinion, which of the following fac...
11         Q5  Q5 In your opinion, in which areas can the Eur...
12         Q6  Q6 Where do you think mental health problems c...
13         Q7  Q7 When thinking about good quality mental hea...
14       Q8_1  Q8_1 How would you rate the quality of mental ...
15       Q8_2  Q8_2 How would you rate the quality of mental ...
16       Q8_3  Q8_3 How would you rate the quality of mental ...
17         Q9  Q9 Have you or any of your family members ever...
18        Q10  Q10 Which of the following issue(s) did you or...
19        Q11  Q11 Can the use of social media by children an...
20      Q12_1  Q12_1 Do you think that mental health patients...
21      Q12_2  Q12_2 Do you think that mental health patients...
22      Q12_3  Q12_3 Do you think that mental health patients...
23      Q13_1  Q13_1 To what extent do you agree or disagree ...
24      Q13_2  Q13_2 To what extent do you agree or disagree ...
25      Q13_3  Q13_3 To what extent do you agree or disagree ...
26      Q13_4  Q13_4 To what extent do you agree or disagree ...
27      Q13_5  Q13_5 To what extent do you agree or disagree ...
28      Q13_6  Q13_6 To what extent do you agree or disagree ...
29    Consent  Consent A “Prefer not to answer” option is ava...
30        Q14  Q14 In the last 12 months, have you had any em...
31        Q15  Q15 Which of the following symptoms have you e...
32        Q16  Q16 In the last 12 months, have you received p...
33        Q17  Q17 For you personally, what are the most effe...
34        DX1  DX1 Which of the following statements best des...
35       D1r1     D1r1 How old are you? 4 categories | Base: All
36       D1r2     D1r2 How old are you? 6 categories | Base: All
37         D2  D2 Which of the following describes how you th...
38         D3  D3 What is your nationality? Please tell me th...
39       D4r1  D4r1 How old were you when you stopped full-ti...
40       D4r2  D4r2 How old were you when you stopped full-ti...
41         D5  D5 As far as your current occupation is concer...
42        D5r  D5r As far as your current occupation is conce...
43        D13    D13 Would you say you live in a...? | Base: All
44        D22  D22 How many people aged 15 years or more live...
45        D23  D23 How many children under the age of 15 are ...
46        D25  D25 Device used to complete the survey | Base:...

In [16]:
excelAQ1 = pd.read_excel("C:/Users/maria/ITAcademy/Sprint 10 - Pràctica final/European Mental Health/Mental Health_fl_530_volume_A.xlsx", sheet_name="Q1")
excelAQ1

,Home,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,Flash Eurobarometer 530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mental health,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fieldwork: 14/6/2023-21/6/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,VOLUME A (Weighted),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Q1 Which of the following statements best desc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Base: All,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Country,Country,Country,Country,Country,Country,Country,Country,...,Country,Country,Country,Country,Country,Country,Country,Country,Country,Country
10,NaN,EU27,BE,BG,CZ,DK,DE,EE,IE,EL,...,MT,NL,AT,PL,PT,RO,SI,SK,FI,SE
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,(AA),(AB),(AC),(AD),(AE),(AF),(AG),(AH),...,(AR),(AS),(AT),(AU),(AV),(AW),(AX),(AY),(AZ),(BA)
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Base: Total,26501,1053,1030,1042,1035,1021,1035,1049,1064,...,517,1048,1038,1051,1021,1023,1030,1028,1047,1027
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Base: Weighted Total,26501,1053,1030,1042,1035,1021,1035,1049,1064,...,517,1048,1038,1051,1021,1023,1030,1028,1047,1027
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,I felt full of energy,1826,61,72,77,54,83,37,72,104,...,28,69,84,65,49,91,98,66,53,75
19,NaN,6.9,5.8,7,7.4,5.2,8.2,3.6,6.8,9.8,...,5.4,6.6,8.1,6.2,4.8,8.9,9.5,6.5,5,7.3
20,NaN,NaN,(AF) (AO),(AF) (AO),(AD) (AF) (AO) (AQ) (AV) (AZ),NaN,(AA) (AD) (AF) (AI) (AL) (AO) (AQ) (AV) (AZ),NaN,(AF) (AO),(AA) (AB) (AD) (AF) (AG) (AI) (AL) (AM) (AN) (...,...,NaN,(AF) (AO),(AA) (AD) (AF) (AI) (AL) (AO) (AQ) (AV) (AZ),(AF) (AO),NaN,(AA) (AD) (AF) (AI) (AL) (AN) (AO) (AQ) (AR) (...,(AA) (AD) (AF) (AG) (AI) (AL) (AM) (AN) (AO) (...,(AF) (AO),NaN,(AF) (AO) (AQ) (AV) (AZ)
21,I felt happy,2878,190,99,111,234,122,77,165,82,...,76,225,148,112,114,77,140,70,132,128
22,NaN,10.9,18.1,9.6,10.7,22.6,12,7.4,15.8,7.7,...,14.6,21.5,14.3,10.7,11.2,7.6,13.6,6.8,12.6,12.5
23,NaN,NaN,(AB) (AC) (AE) (AF) (AH) (AI) (AJ) (AK) (AL) (...,(AL) (AQ) (AY),(AF) (AH) (AL) (AQ) (AW) (AY),(AA) (AB) (AC) (AE) (AF) (AG) (AH) (AI) (AJ) (...,(AF) (AH) (AL) (AQ) (AW) (AY),(AL),(AB) (AC) (AE) (AF) (AH) (AI) (AJ) (AK) (AL) (...,(AL),...,(AB) (AC) (AF) (AH) (AJ) (AL) (AM) (AN) (AO) (...,(AB) (AC) (AE) (AF) (AG) (AH) (AI) (AJ) (AK) (...,(AB) (AC) (AF) (AH) (AJ) (AL) (AM) (AN) (AO) (...,(AF) (AH) (AL) (AQ) (AW) (AY),(AF) (AH) (AL) (AQ) (AW) (AY),(AL),(AB) (AF) (AH) (AJ) (AL) (AN) (AO) (AQ) (AW) (AY),NaN,(AF) (AH) (AL) (AN) (AQ) (AW) (AY),(AF) (AH) (AL) (AQ) (AW) (AY)
24,I felt calm and peaceful,7623,273,340,218,255,329,344,228,258,...,96,348,302,248,322,336,303,387,318,249
25,NaN,28.8,26,33,20.9,24.7,32.2,33.3,21.7,24.3,...,18.6,33.2,29.1,23.6,31.5,32.9,29.4,37.7,30.4,24.3
26,NaN,NaN,(AC) (AG) (AR),(AA) (AC) (AD) (AG) (AH) (AI) (AJ) (AK) (AL) (...,NaN,(AC) (AR),(AA) (AC) (AD) (AG) (AH) (AK) (AL) (AM) (AP) (...,(AA) (AC) (AD) (AG) (AH) (AI) (AJ) (AK) (AL) (...,NaN,(AR),...,NaN,(AA) (AC) (AD) (AG) (AH) (AI) (AJ) (AK) (AL) (...,(AC) (AD) (AG) (AH) (AK) (AM) (AP) (AR) (AU) (BA),(AR),(AA) (AC) (AD) (AG) (AH) (AK) (AL) (AM) (AP) (...,(AA) (AC) (AD) (AG) (AH) (AI) (AJ) (AK) (AL) (...,(AC) (AD) (AG) (AH) (AK) (AM) (AP) (AR) (AU) (BA),(AA) (AB) (AC) (AD) (AE) (AF) (AG) (AH) (AI) (...,(AA) (AC) (AD) (AG) (AH) (AK) (AM) (AP) (AR) (...,(AR)
27,I felt tense,3788,160,204,183,99,147,170,93,101,...,93,116,131,168,105,102,143,92,75,81
28,NaN,14.3,15.2,19.8,17.5,9.5,14.4,16.4,8.9,9.4,...,18,11.1,12.7,16,10.3,10,13.9,8.9,7.1,7.9
29,NaN,NaN,(AD) (AG) (AH) (AI) (AS) (AV) (AW) (AY) (AZ) (BA),(AA) (AD) (AE) (AG) (AH) (AI) (AJ) (AN) (AO) (...,(AD) (AG) (AH) (AI) (AS) (AT) (AV) (AW) (AX) (...,NaN,(AD) (AG) (AH) (AS) (AV) (AW) (AY) (AZ) (BA),(AD) (AG) (AH) (AI) (AS) (AT) (AV) (AW) (AY) (...,NaN,NaN,...,(AD) (AG) (AH) (AI) (AS) (AT) (AV) (AW) (AX) (...,(AZ) (BA),(AD) (AG) (AH) (AY) (AZ) (BA),(AD) (AG) (AH) (AI) (AS) (AT) (AV) (AW) (AY) (...,(AZ),(AZ),(AD) (AG) (AH) (AV) (AW) (AY) (AZ) (BA),NaN,NaN,NaN
30,I felt tired/worn out,7248,283,206,347,291,274,270,357,303,...,168,223,306,257,311,294,290,321,353,333
31,NaN,27.4,26.8,20,33.3,28.1,26.8,26.1,34,28.5,...,32.5,21.3,29.5,24.5,30.5,28.7,28.2,31.3,33.7,32.4
32,NaN,NaN,(AB) (AO) (AS),NaN,(AA) (AB) (AD) (AE) (AF) (AH) (AI) (AK) (AL) (...,(AB) (AO) (AS),(AB) (AO) (AS),(AB) (AO) (AS),(AA) (AB) (AD) (AE) (AF) (AH) (AI) (AJ) (AK) (...,(AB) (AO) (AS),...,(AA) (AB) (AE) (AF) (AI) (AK) (AL) (AO) (AQ) (...,NaN,(AB) (AO) (AS) (AU),(AB),(AB) (AF) (AI) (AK) (AO) (AS) (AU),(AB) (AO) (AS) (AU),(AB) (AO) (AS),(AA) (AB) (AE) (AF) (AI) (AK) (AL) (AO) (AQ) (...,(AA) (AB) (AD) (AE) (AF) (AH) (AI) (AJ) (AK) (...,(AA) (AB) (AD) (AE) (AF) (AI) (AK) (AL) (AO) (...
33,I felt downhearted/low,2525,72,90,74,76,37,92,117,190,...,47,53,42,137,98,111,42,70,98,147
34,NaN,9.5,6.8,8.7,7.1,7.3,3.7,8.9,11.2,17.9,...,9.1,5.1,4,13.1,9.6,10.9,4.1,6.8,9.3,14.3
35,NaN,NaN,(AE) (AT) (AX),(AE) (AS) (AT) (AX),(AE) (AT) (AX),(AE) (AS) (AT) (AX),NaN,(AE) (AS) (AT) (AX),(AA) (AC) (AD) (AE) (AJ) (AK) (AM) (AO) (AS) (...,(AA) (AB) (AC) (AD) (AE) (AF) (AG) (AJ) (AK) (...,...,(AE) (AS) (AT) (AX),NaN,NaN,(AA) (AB) (AC) (AD) (AE) (AF) (AJ) (AK) (AM) (...,(AA) (AC) (AE) (AJ) (AS) (AT) (AX) (AY),(AA) (AC) (AD) (AE) (AJ) (AK) (AM) (AO) (AS) (...,NaN,(AE) (AT) (AX),(AA) (AE) (AS) (AT) (AX) (AY),(AA) (AB) (AC) (AD) (AE) (AF) (AG) (AJ) (AK) (...
36,Don't know,448,11,8,22,15,21,39,7,4,...,6,4,14,58,2,7,10,13,13,8
37,NaN,1.7,1.1,0.8,2.1,1.4,2,3.8,0.7,0.3,...,1.1,0.4,1.4,5.5,0.2,0.7,1,1.3,1.2,0.8
38,NaN,NaN,(AV),NaN,(AB) (AG) (AH) (AI) (AK) (AO) (AQ) (AS) (AV) (...,(AH) (AS) (AV),(AB) (AG) (AH) (AI) (AK) (AO) (AS) (AV) (AW) (BA),(AA) (AB) (AC) (AD) (AE) (AG) (AH) (AI) (AJ) (...,NaN,NaN,...,(AV),NaN,(AH) (AS) (AV),(AA) (AB) (AC) (AD) (AE) (AG) (AH) (AI) (AJ) (...,NaN,NaN,(AV),(AH) (AS) (AV),(AH) (AS) (AV),NaN
39,Prefer not to answer,164,3,12,10,12,8,6,9,22,...,4,9,11,5,18,5,4,7,6,5
40,NaN,0.6,0.3,1.2,0.9,1.2,0.8,0.6,0.9,2.1,...,0.7,0.9,1,0.5,1.8,0.5,0.4,0.7,0.6,0.5
41,NaN,NaN,NaN,(AA) (AI) (AL) (AO),(AO),(AA) (AI) (AJ) (AL) (AO) (AX),(AO),NaN,(AO),(AA) (AC) (AE) (AF) (AG) (AI) (AJ) (AL) (AM) (...,...,NaN,(AO),(AL) (AO),NaN,(AA) (AE) (AF) (AI) (AJ) (AL) (AN) (AO) (AP) (...,NaN,NaN,NaN,NaN,NaN